/* App päätyyli */
.App {
  min-height: 100vh;
}

main {
  flex: 1;
}

/* Kirjailijoiden osio */
.authors-section {
  padding: 0;
  margin: 0;
  background-color: var(--color-bg-light);
}

.authors-section img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
